/* Estilos generales*/
@font-face{
    font-family: 'Adios';
    src: url(/src/fonts/Adios.ttf) format("truetype"),
    url(/src/fonts/Adios.eot) format("embedded-opentype"),
    url(/src/fonts/Adios.woff) format("woff");
}

h2{
    text-align: center;
    font-family: 'Adios';
    font-size: 50px;
}
/* Estilos de seccion cabecera*/

/* Estilos de seccion servicios*/

/* Estilos de seccion noticias*/
.noticias{
    border: 5px black solid;
    background: url(/src/imagenes/fondoNoticia.png);
    background-size: 100%;
    background-repeat: repeat;
    height: 100%;
    width: 100%;    
}
.tituloNoticias{
    color:white;
}
.buscarNoticia{
    margin: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.contenedorNoticias{

    display: flex;
    justify-content: space-evenly;
}

.noticia{
    
    height: 400px;
    width: 350px;
    margin: 10% 1%;
    border-radius: 10%;
    background-color:rgba(249, 225, 242,60%);
}
.titularNoticia{
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 4%;
    height: 15%;
    border: 5px green solid;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}
.imagenNoticia{
    height: 35%;
    border: 5px blueviolet solid;
}
.textoNoticia{
    margin-left: 1%;
    margin-right: 1%;
    height: 50%;
    border: 5px pink solid;
    font-size: 10pt;
}
/* Estilos de seccion equipo*/

/* Estilos de seccion pie del sitio*/