/* Estilos generales*/

/* Estilos de seccion cabecera*/

/* Estilos de seccion servicios*/

/* Estilos de seccion noticias*/

/* Estilos de seccion equipo*/
#team{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}

#pictureName{
    line-height: 4ch;    
}

.integName{
    text-align: center;
    line-height: 1.5ch;
    font-style: oblique;
}

.integrante{
    height: 400px;
    width: 350px;
    text-align: center;
    padding: 5px;
    border: 3px blue solid;
    line-height: 50px;
}

h3{
    font-style: italic;
    font-size: medium;
    font-weight: 80;
    line-height: 1ch;
}

/* Estilos de seccion pie del sitio*/